body{
    line-height: 1.5em;
}
.container{
    width: 100%;
    margin: 3% auto;
    padding: 2%;
}

h1{
    margin-left:1%;
    padding-left:2%;
    padding-bottom: 2%;
    border-bottom:1px solid #666;
}
/* links */
a:link{
    color:#ff3300;
}
a:visited{
    color:#ff6600;
}
a:hover{
    color:#0099dd;
}
.img-show{
    display: inline-block;
}
.img-hide{
    display:none;
}
.carousel-inner{
    width:70%;
    margin:auto;
    float:left;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.previous, .next{
    width: 12.5%;
    float:left;
    font-size:.65em;
    margin-top:13%;
}
.next{
    text-align: right;
}
/* fix the div collapse */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* slides js css code*/

body {
  -webkit-font-smoothing: antialiased;
  padding-top:2.5%;
}
#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url(img/btns-next-prev.png);
  background-repeat: no-repeat;
  display:block;
  width:12px;
  height:18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}

a.slidesjs-next {
  margin-right:10px;
  background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}
.carousel-outer img{
    width: 300px;
}
.info {
    float: left;
}