/* variables */
/*  
$margin-tip-2: ( ($margin-tip-1/100) * 2)*100; 
*/

    img{
        width: 100%;
}
/* navigation */
ul.top-nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0px;
  width: 100%;
}

ul.top-nav li {
  float: left;
  margin: 0 2.5% 5%;
}

ul.top-nav li a {
  color: #000;
  padding: 5%;
  text-decoration: none;
  font-size: 19.8px;
  transition: 1.0s;
}
.info{
        width: 100%;
    }
@media screen and (max-width: 680px) {
  ul.top-nav li:not(:first-child) {
    display: none;
  }
  ul.top-nav li.icon {
    display: inline-block;
    float: right;
    margin: 5%;
  }
  ul.top-nav.responsive {
    position: relative;
  }
  ul.top-nav.responsive li.icon {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  ul.top-nav.responsive li {
    float: none;
    display: inline;
  }
  ul.top-nav.responsive li a {
    display: block;
    text-align: left;
  }
  ul.top-nav.responsive li:first-child {
    display: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
/*page 2*/
/*artits profile circle picture*/ 
@media only screen and (max-width: 640px) {
    .info-artist{
        padding: 0;
        padding-top: 70px;
        background-color: #333;	
    }
    .info-artist .img-circle { 
        padding-left: 20px;
        width: 150px;
        border-radius: 50%;
    }
    .info-artist h2{
        padding-left: 30px;
        font-family: 'Lobster Two', cursive;
        font-size: 1.5em;
        color: white;
    }
    .info-artist p{
    font-family: 'Open Sans Condensed', sans-serif;
        padding: 30px;
        font-size: 1.2em;
        color: white;
    }
    p{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
    }
    .ima-text .image-caption{
        float: right;
    }
    .ima-text{
        width: 100%;
    }
    .ima-text img{ 
        width: 20%;
    }
    .ima-text{
        border-bottom: solid 3px;
        border-color: black;
    }
}

@media only screen and (min-width:681px) and (max-width:1024px) {
    
    .ima-text{
        width: 50%;
        border-bottom: solid 3px;
        border-color: black;
        float: left;
    }
    .ima-text img{ 
        width: 300px;
    }
    .ima-text .image-caption{
        text-align: left;
    }
    .image-caption a{
        font-size: 0.8em;
    }
    
}
@media only screen and (min-width:1025px){


}
